<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cy.sys.dao.SysMenuDao">
  	<select id="findObjects" resultType="com.cy.sys.entity.SysMenu">
  		select *
  		from sys_menus
  	</select>

  	<insert id="insertObject">
  		insert into sys_menus(name,url,type,sort,note,parentId,permission,createdTime,modifiedTime,createdUser,modifiedUser)
  		values(#{name},#{url},#{type},#{sort},#{note},#{parentId},#{permission},now(),now(),#{createdUser},#{modifiedUser})
  	</insert>
  	<update id="updateObject">
  		update sys_menus
  		set
  			name=#{name},
  			url=#{url},
  			type=#{type},
  			sort=#{sort},
  			note=#{note},
  			parentId=#{parentId},
  			permission=#{permission},
  			modifiedTime=now(),
  			modifiedUser=#{modifiedUser}
  		where id=#{id}
  	</update>
  </mapper>